.container{
    width: 100%;
    height: 350vh;}
    
    
    
    .header {
        width: 100%;
        height: 60px;
    }
    
    #himg {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    
    
    
    .subheader {
        display: inline-block;
        font-size: large;
        float: right;
        margin-right: 350px;
        padding-top: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #no {
        display: inline-block;
        float: right;
        font-size: x-large;
        margin-right: 100px;
        margin-top: -45px;
        font-family: 'Times New Roman', Times, serif;
    }
    

.bookdiv{
    margin: 20px;
    margin-left: 400px;

}
#books{
    font-family: cursive;
    text-decoration: underline;
    margin-top: 70px;
   
    font-size: xx-large;
}
.imgofcafe{
    height: 400px;
    width: 300px;
    margin: 20px;
    margin-top: 20px;
    border-radius: 10%;
}
.bookskebarymelikhna{
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    text-align: justify;
}
#bookslove{
    height: 250px;
    width: 500px;
    
    margin-right: 200px;
    margin-top: 90px;
}
.tasveeren{
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
    display: flex;
justify-content: space-between;
border: 4px solid rgb(151, 118, 35);
background-color: rgb(137, 112, 49);
border-radius: 5%;



}

#phoolonwali{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    

}
#fantasy{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    margin-top: 10px;
    margin-right: 100px;
    
}
#pyariwali{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    margin-top: 10px;
    margin-right: 100px;
    
    
    
   
}
#dansk{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    margin-top: 10px;
    
}
#thriller{
    height: 200px;
    width: 150px;
    border-radius: 5%;  
    margin-top: 10px; 
}
#lrki{
    height: 200px;
    width: 150px;
    border-radius: 5%;  
    margin-top: 10px; 
    margin-right: 100px;   
}

.bookskelye{
    display: flex;
    justify-content: space-between;
}
.writing{
    margin: 80px;
    margin-right: 00px;
    font-family: cursive;
}
#classicromance{
    width: 300px;
    text-align: justify;
    
}
#fantasybook{
    width: 300px;
    text-align: justify;
   
   
}
#thrillerbook{
    width: 300px; 
    text-align: justify; 
    
}
#pyaribook{
    width: 300px; 
    text-align: justify; 
}
#danskbook{
    width: 300px; 
    text-align: justify;
    
   
}
#lrkiwalibook{
    width: 300px; 
    text-align: justify; 
}
.availablebooks{
   text-align: center;
   margin-top: 50px;
   
}
#available{
    font-weight: 700px;
    font-family: fantasy;
    color: rgb(4, 61, 61);
    text-decoration: underline;
}.history{
    display: inline-block;
    height: 300px;
    width: 500px;
    border: 3px solid rgb(152, 214, 214);
    margin-left: 20px;
    margin-top: 20px;
    background-color: cornsilk;
    font-family: cursive;
    font-size: larger;
    text-align: center;
    border-radius: 10%;
}
.border{
   
    border-radius: 10%;
}.footer{

    width: 100%;
    height: 120px;
    margin-top: 30px;
    }
    #foot1{
        margin-left: 41%;
        display: inline-block;
       
    }
    #foot2{
        display: inline-block;
        margin-left: 25px;
    }
    #foot3{
        display: inline-block;
        margin-left: 25px;
        border-radius: 15%;
    }
